<% if @reviews.present? %>
  <div class="ml-4 my-4">
    <h1 class="mb-5 text-left text-4xl">Reviews</h1>
    <div id="reviews" class="px-4">
      <% @reviews.each do |review| %>
        <div class="grid grid-cols-8 gap-5 mb-3 flex justify-between items-center">
          <div class="col-span-6">
            <%= review.comment %>
          </div>
          <div class="col-span-2 grid grid-cols-2 flex items-center justify-between text-center">
            <div class="mr-5">
              <%= review.user.name %>
            </div>
            <div class="mr-5 rounded-full">
              <% if review.user.image.present? %>
                <%= image_tag review.user.image.url,:class=> '', :size => '50x50' %>
              <% else %>
                <%= image_tag 'person.png', :size => '80x80' %>
              <% end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>