<% if @reviews.present? %>
  <div class="ml-4 my-4">
    <h1 class="mb-5 text-left text-4xl">Reviews</h1>
    <div id="reviews" class="px-4">
      <% @reviews.each do |review| %>
        <div class="grid grid-cols-8 gap-5 mt-3 mb-3 flex items-center justify-center balloon_l">
          <div class="col-span-2 items-center justify-between text-center">
            <div class="mt-3 mr-5">
              <% if review.user.image.present? %>
                <%= image_tag review.user.image.url,:class=> 'icon-circle', :size => '50x50' %>
              <% else %>
                <%= image_tag 'person.png',:class=> 'icon-circle', :size => '50x50' %>
              <% end%>
            </div>
          </div>
          <div class="col-span-6 flex flex-col break-words">
            <div class="mr-5">
              <%= review.user.name %>
            </div>
            <p class="says"><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
