<% if notice.present? %>
  <div class="">
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mx-12" role="alert">
      <p class="font-bold"><%= notice %></p>
      <p>Something not ideal might be happening.</p>
    </div>
  </div>
<% end %>