<header class="mb-3" id="headerheader">
  <nav class="flex justify-around bg-blue-400 p-4 rounded-md">
    <h1 class="flex items-center text-white">
      <%= link_to "Chottosokomade!!", root_path , {class: "text-4xl font-semibold ",style: "font-family: 'Gravitas One', cursive; font-family: 'Montserrat', sans-serif;"}%>
    </h1>
    <ul id="header-menu" class="flex items-center ml-3 text-white font-semibold">
      <%= render 'layouts/menues' %>
    </ul>
    <% if current_user %>
    <div class="hamburger mr-6">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="globalMenuSp">
      <ul>
        <%= render 'layouts/menues' %>
      </ul>
    </nav>
    <% end %>
  </nav>
</header>

